<!DOCTYPE html>
<html lang="en">
<head>
   <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="estilos.css">
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
</head>
<body>

<div class="container">
  <div class="container">
  <h2>Navigation Pills</h2>
  <p>Turn the nav menu into navigation pills with the .nav nav-pills class:</p>
  <ul class="nav nav-pills">
    <li class="nav-item">
      <a class="nav-link active" ">Active</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Link</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Link</a>
    </li>
    <li class="nav-item">
      <a class="nav-link disabled" href="#">Disabled</a>
    </li>
  </ul>
</div>

  <h2>Striped Rows</h2>
  <p>The .table-striped class adds zebra-stripes to a table:</p> 
  <div class="table-responsive-sm">           
  <table class="table table-striped table-responsive table-sm">
    <thead class="table-dark table-bordered" >
      <tr>
        <th>Nombre</th>
        <th>Contacto Inicial</th>
        <th>1º Seg estudiante</th>
        <th>Contacto tutor</th>
        <th>2º Seg estudiante</th>
        <th>Solicitudes finales</th>
        <th>Final</th>
        

      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Alejandro Martinez Robles</td>
        <td class="table-success" >24/02/20</td>
        <td class="table-danger">24/02/20</td>
        <td class="table-success">24/02/20</td>
        <td class="table-success" >24/02/20</td>
        <td class="table-success" >24/02/20</td>
        <td class="table-success" >24/02/20</td>
        <td class="table-light"><a href="prueba.html"> <i class = "fa fa-external-link"></i></a></td>
      </tr>
      <tr>
        
        <td>Alejandro Martinez Robles</td>
        <td class = bg-success>24/02/20</td>
        <td class = bg-danger>24/02/20</td>
        <td class = bg-success>24/02/20</td>
        <td class = bg-success>24/02/20</td>
        <td class = bg-success>24/02/20</td>
        <td class = bg-success>24/02/20</td>
        <td class = "table-light"><a href="prueba.html"> <i class = "fa fa-external-link"></i></a></td>
        
      </tr>
      <tr>
        <td>Alejandro Martinez Robles</td>
        <td>24/02/20</td>
        <td>24/02/20</td>
        <td>24/02/20</td>
        <td>24/02/20</td>
        <td>24/02/20</td>
        <td>24/02/20</td>
        <td><a href="prueba.html"> <span class = "glyphicon glyphicon-new-window"/></a></td>
      </tr>
      <tr>
        <td>Alejandro Martinez Robles</td>
        <td>24/02/20</td>
        <td>24/02/20</td>
        <td>24/02/20</td>
        <td>24/02/20</td>
        <td>24/02/20</td>
        <td>24/02/20</td>
        <td><a href="prueba.html"> <span class = "glyphicon glyphicon-new-window"/></a></td>
      </tr>
      <tr>
        <td>Alejandro Martinez Robles</td>
        <td>24/02/20</td>
        <td>24/02/20</td>
        <td>24/02/20</td>
        <td>24/02/20</td>
        <td>24/02/20</td>
        <td>24/02/20</td>
        <td><a href="prueba.html"> <span class = "glyphicon glyphicon-new-window"/></a></td>
      </tr>
      <tr>
        
        <td>Alejandro Martinez Robles</td>
        <td>24/02/20</td>
        <td>24/02/20</td>
        <td>24/02/20</td>
        <td>24/02/20</td>
        <td>24/02/20</td>
        <td>24/02/20</td>
        <td><a href="prueba.html"> <span class = "glyphicon glyphicon-new-window"/></a></td>
      </tr>
    </tbody>
  </table>
</div>
</div>
<div class="progress">
  <div class="progress-bar bg-success" style="width:40%">
    Free Space
  </div>
  <div class="progress-bar bg-warning" style="width:10%">
    Warning
  </div>
  <div class="progress-bar bg-danger" style="width:20%">
    Danger
  </div>
</div>
</body>
</html>
